<html>  
<head>  
    <title>Support Sheet</title>  
</head>  
<body> 
<h2>Please copy paste the name in text field</h2> 
    <p>ehtisham.ansari</p>
    <p>rahulg</p>
    <p>sandeep</p>
    <p>imad</p>
    <p>shivam</p>
    <p>karan</p>
<h4>Select Allcase sheet in 1st file and Support sheet in 2nd file</h4>
    <form action = "/success" method = "post" enctype="multipart/form-data">  
        <input type="file" name="file1" />  
        <input type="file" name="file2" />
        <input type="text" name="text" />   
        <input type = "submit" value="Upload">  
    </form>  

</body>  
</html>  

